:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --additional-color: #ffffff;
  --contact-color: #757575;
  --backfound-footer-color: #2f303a;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*----------logo--------*/

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

/* -------header--------- */
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;
}

.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-connect {
  display: flex;
  margin-left: auto;
}
.header-item + .header-item {
  margin-left: 40px;
}
.header-link {
  display: block;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0px;
  bottom: -1px;
}

.contact-item {
  display: block;
}

.contact-item:first-child {
  margin-right: 50px;
}

.contact-link {
  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  fill: var(--contact-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.header-connect {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

/*--------- hero-------- */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--additional-color);
}
.form-button-div {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}
.hero-button {
  height: 50px;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;

  border: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*------- section------*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-------- Advantages--------*/

.advantages-list {
  display: flex;
}
.advantages-item + .advantages-item {
  margin-left: 30px;
}
.advantages-item {
  min-width: 270px;
  min-height: 75px;
}
.advantages-borber {
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*-------works------*/
.works {
  padding-top: 0px;
}
.works-list {
  display: flex;
  margin-left: -30px;
}
.works-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.works-title {
  margin-bottom: 50px;
}

.works-thumb {
  position: relative;
}
.works-text {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
}

.works-title,
.team-title,
.regular-customers-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*-------team------*/
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
}
.team-item {
  flex-basis: calc((100%-60px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
}

.imagine {
  margin-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.team-border {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.advantages-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

/*------------regular-customer------*/

.regular-customers-tittle {
  margin-bottom: 50px;
}

.regular-customers-link {
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  fill: #afb1b8;
  width: 170px;
  height: 92px;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.regular-customers-link:hover,
.regular-customers-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.regular-customers-item + .regular-customers-item {
  margin-left: 30px;
}

.regular-customers-list {
  display: flex;
  justify-content: center;
}

/*------- footer-----*/
.footer {
  background-color: var(--backfound-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
}

address {
  font-style: normal;
  margin-bottom: 9px;
}

.adress-color {
  color: var(--additional-color);
}

.footer-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.footer-contact-link {
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-section + .footer-section {
  margin-left: auto;
}
.footer-social-text,
.footer-form-text {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--additional-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.footer-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
}
/*------- footer-form------*/

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-email + .footer-button {
  margin-left: 12px;
}
.footer-email {
  min-width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--backfound-footer-color);
  outline: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.footer-email:focus {
  border-color: var(--accent-color);
}

.footer-button {
  min-width: 200px;
  height: 50px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  border: transparent;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--additional-color);

  transition-property: background-color, box-shadow, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.futter-buttom:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  c: 4px;
}

.footer-button-icon {
  margin-left: 10px;
}

/*------ portfolio-----*/
/*-------filter--------*/

.portfolio-filter {
  margin-bottom: 50px;
}
.portfolio-filter {
  display: flex;
  justify-content: center;
}

.portfolio-filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;

  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item + .filter-item {
  margin-left: 8px;
}

/*---------Gallery--------*/
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.gallery-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.master-overley {
  position: relative;
  overflow: hidden;
}

.gallery-link:hover .gallery-top-text,
.gallery-link:focus .gallery-top-text {
  transform: translateY(0);
}

.gallery-top-text {
  position: absolute;
  top: 0;
  right: 0;

  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--additional-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.gallery-text {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.gallery-filter {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.gallery-border {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gallery-link {
  display: block;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*-------- backdrop-------*/

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms, visibility 250ms;
}
.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 500ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(180deg) scale(3);
}
.modal-close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  fill: #000000;
  display: block;
  align-items: center;

  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/*--------- form--------*/
.form-field {
  margin-bottom: 10px;
}
.modal-tittle {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .form-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-textarea {
  margin-bottom: 20px;
}

.modal-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-comments::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-wrap {
  position: relative;
}
.form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-check-text span {
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-check-icon {
  fill: transparent;
}
.modal-check:checked + .modal-check-text > span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .modal-check-text .modal-check-icon {
  fill: var(--additional-color);
}
.modal-condition {
  color: var(--accent-color);
  text-decoration: underline;

  margin-right: 2px;
}

.form-button {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  border: transparent;
  color: var(--additional-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-buttom:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
