.customers__tittle {
    margin-bottom: 50px;
  }
  
  .customers__link {
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    @extend %align-list;
    justify-content: center;
    fill: #afb1b8;
    width: 170px;
    height: 92px;
  
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);}
  }
  
  
  .customers__item {
    &+& {
    margin-left: 30px;
  }}
  
  .customers__list {
    display: flex;
    justify-content: center;
  }