  .customers__tittle {
  margin-bottom: 50px;
  }
  
    .customers {display: flex;
    align-items: center;}
    
    .customers__link{
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 170px;
    height: 92px;
    fill: #afb1b8;
  
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);}
  }
  
  
  .customers__item {
    &+& {
    margin-left: 30px;}
  }
  
  